@model IEnumerable<APMS.Models.ParkingSlot>

@{
    ViewData["Title"] = "Số chỗ đỗ xe";
}

<h1>Số chỗ đỗ xe</h1>


<table class="table datatable" id="parkingSlots">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SlotNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SlotNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ParkingSlotId">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.ParkingSlotId">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.ParkingSlotId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        let dataTable = new DataTable("#parkingSlots", {
            searchable: true,
            fixedHeight: true,

        });
    </script>
}