@model IEnumerable<APMS.Models.ParkingTransaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table display" id="transactions">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingSlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExitTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.VehicleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingSlot.ParkingSlotId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExitTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ParkingTransactionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ParkingTransactionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ParkingTransactionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#transactions').DataTable();
        });
    </script>
}