@model IEnumerable<APMS.Models.VehicleType>

@{
    ViewData["Title"] = "Danh mục loại xe";
}

<h1>Danh mục loại xe</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table datatable" id="vehicleTypes">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VehicleTypeId">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.VehicleTypeId">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.VehicleTypeId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        let dataTable = new DataTable("#vehicleTypes", {
            searchable: true,
            fixedHeight: true,

        });
    </script>
}